apiVersion: v1
kind: Secret
metadata:
  name: cozyroom-secret
  namespace: cozyroom-k8s
type: Opaque
stringData:
  POSTGRES_PASSWORD: "CHANGE_ME"
  OPENROUTER_API_KEY: ""
  DEEPSEEK_API_KEY: ""
  GEMINI_API_KEY: ""
  GITHUB_TOKEN: ""
